* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Arvo', serif;
}

body {
	overflow: hidden;
}

header {
	display: flex;
	height: 15vh;
	background: #258039;
	color: #B9D9C3;
	text-align: center;
	padding-top: 25px;
	-webkit-box-shadow: 0px 3px 3px 0px #ADADA6;
	-moz-box-shadow: 0px 3px 3px 0px #ADADA6;
	box-shadow: 0px 3px 3px 0px #ADADA6;
}

h2 {
	color: #7F152E;
}

ul {
	list-style-type: none;
	padding: 0;
}

footer {
	position: absolute;
	bottom: 0px;
	right: 10px;
	color: #441E29;
	font-size: 12px;
	background-color: white;
}

.hamburger-box {
	visibility: hidden;
}

.headline-box {
	width: 100%;
}

.sidebar {
	height: 85vh;
	width: 25%;
	display: inline-block;
	-webkit-box-shadow: 3px 0px 3px -2px #ADADA6;
	-moz-box-shadow: 3px 0px 3px -2px #ADADA6;
	box-shadow: 3px 0px 3px -2px #ADADA6;
}

.sidebar-heading {
	padding-top: 10px;
	text-align: center;
}

.create-journal,
.create-custom-entry {
	color: #ED5752;
}

.journal {
	width: 74%;
	display: inline-block;
	vertical-align: top;
	color: #7F152E;
}

.journal-list-item {
	display: flex;
	color: #441E29;
	border-radius: 20px;
	border: 2px dashed #7F152E;
	padding: 5px;
	margin: 10px 20px 0 20px;
}

.date-list {
	text-align: center;
	max-height: 72vh;
	overflow: auto;
}

.journal-stats {
	width: 97%;
}

.delete-box {
	align-self: center;
}

.new-date {
	text-align: center;
	padding: 10px;
}

.calendar-button,
.custom-button {
	border-radius: 50px;
	border: 1px solid #ED5752;
	padding: 0 4px;
}

.underline {
	text-decoration: underline;
}

.login-prompt,
.welcome-message {
	text-align: center;
	padding-top: 50px;
}

.welcome-message {
	transition: all 0.5s ease-out;
}

.login-box,
.registration-box {
	padding-top: 25px;
	text-align: center;
}

.login-header,
.registration-header {
	font-size: 16px;
	padding-bottom: 15px;
}

.login-error,
.registration-error {
	padding-top: 10px;
	font-size: 12px;
	color: #441E29;
}

.journal-main {
	padding: 20px 15px 10px;
	text-align: center;
}

.search-results-box,
.spinner-box {
	position: relative;
}

.spinner {
	position: absolute;
	left: 66%;
	top: -40px;
	background-color: white;
	z-index: 99;
}

.search-results {
	position: absolute;
	left: calc((100% - 250px)/2);
	top: 0;
	background-color: white;
	min-width: 250px;
}

.search-failure,
.no-results {
	padding: 10px 3px;
	height: 30px;
	font-size: 14px;
}

.result {
	border: 1px solid #7F152E;
	border-top: 1px dashed #74152E;
	border-bottom: none;
	padding: 9px 3px;
}

.date-header,
.calorie-header {
	padding-bottom: 10px;
}

.journal-custom {
	text-align: center;
}

#food-input {
	width: 250px;
	text-align: center;
}

.custom-form-box {
	padding: 2px;
	height: 30px;
}

.journal-entries {
	padding: 0 20px 10px 20px;
	height: 53vh;
	overflow: auto;
}

.food-entry {
	display: flex;
	justify-content: space-between;
	padding: 10px 5px;
	color: #441E29;
	border: 1px solid #7F152E;
	border-top: 1px dashed #74152E;
	border-bottom: none;
}

.food-entry-header {
	color: #7F152E;
	border: 1px solid #7F152E;
	padding: 5px;
}

.food-item {
	padding: 0 10px;
	text-align: center;
}

.nutritionix-link {
	color: #441E29;
}

.hidden {
	transform: translate(-275px, 0px);
	transition: all 1s ease-out;
}

.reduce-size {
	margin-left: 300px;
	transition: all 0.5s ease-out;
}

.calendar-button:hover,
.delete-box:hover,
.custom-button:hover,
.entry-remove-box:hover,
.result:hover,
.underline:hover {
	cursor: pointer;
}

.result:hover,
.food-entry:hover,
.journal-list-item:hover {
	background-color: #ECF9F2;
}

.result:first-child {
	border-top: 1px solid #7F152E;
}

.food-entry:first-child {
	border-top: none;
}

.food-entry:last-child,
.result:last-child {
	border-bottom: 1px solid #7F152E;
}

@media screen and (max-width: 950px) {
	.hamburger-box {
		visibility: visible;
		padding-left: 30px;
	}

	.journal {
		width: 100%;
	}

	.sidebar {
		width: 275px;
		position: absolute;
		opacity: 1;
		background-color: white;
		left: 0;
		top: 15vh;
		transition: all 1s ease-out;
		z-index: 98;
	}

	.spinner {
		left: 75%;
	}

	.search-results {
		max-height: 67vh;
		overflow: auto;
	}

	.result {
		padding: 1.5em 3px;
	}

	.welcome-message {
		padding: 50px 10px;
	}
}

@media screen and (max-width: 550px) {
	.food-item,
	.food-calories {
		font-size: 14px;
	}

	.spinner {
		left: 85%;
		top: -45px;
	}
}

@media screen and (max-width: 390px) {
	header {
		font-size: 14px;
	}

	.hamburger-box {
		padding: 0 1.3em;
	}

	.food-item,
	.food-calories {
		font-size: 12px;
	}

	.spinner {
		top: -60px;
		left: 90%;
	}
}

@media screen and (max-width: 330px) {
	header {
		font-size: 13px;
	}

	.journal-main {
		padding: 10px 15px;
	}

	.date-header {
		font-size: 18px;
	}

	.calorie-header,
	.create-custom-entry {
		font-size: 16px;
	}

	#calorie-input {
		width: 90px;
	}
}

@media screen and (max-width: 750px) and (orientation: landscape) {
	header {
		padding-top: 10px;
	}

	.date-list {
		max-height: 66vh;
	}

	.search-results {
		max-height: 50vh;
	}

	.journal-entries {
		max-height: 40vh;
	}
}

@media screen and (max-width: 600px) and (orientation: landscape) {
	header {
		padding-top: 5px;
	}

	.journal-main {
		padding: 10px;
	}

	.date-list {
		max-height: 62vh;
	}

	.search-results {
		max-height: 45vh;
	}

	.journal-entries {
		max-height: 34vh;
	}
}