* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Arvo', serif;
}

body {
	overflow: hidden;
}

header {
	display: flex;
	height: 15vh;
	background: #258039;
	color: #B9D9C3;
	text-align: center;
	padding-top: 25px;
	-webkit-box-shadow: 0px 3px 3px 0px #ADADA6;
	-moz-box-shadow: 0px 3px 3px 0px #ADADA6;
	box-shadow: 0px 3px 3px 0px #ADADA6;
}

h2 {
	color: #7F152E;
}

ul {
	list-style-type: none;
	padding: 0;
}

footer {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

.hamburger-box {
	visibility: hidden;
}

.headline-box {
	width: 100%;
}

.sidebar {
	height: 85vh;
	width: 25%;
	display: inline-block;
	-webkit-box-shadow: 3px 0px 3px -2px #ADADA6;
	-moz-box-shadow: 3px 0px 3px -2px #ADADA6;
	box-shadow: 3px 0px 3px -2px #ADADA6;
}

.sidebar-heading {
	padding-top: 10px;
	text-align: center;
}

.create-journal {
	color: #ED5752;
}

.journal {
	width: 70%;
	display: inline-block;
	vertical-align: top;
	color: #7F152E;
}

.journal-list-item {
	display: flex;
	color: #441E29;
	border-radius: 20px;
	border: 2px dashed #7F152E;
	padding: 5px;
	margin: 10px 20px 0 20px;
}

.date-list {
	text-align: center;
	max-height: 72vh;
	overflow: auto;
}

.journal-stats {
	width: 97%;
}

.delete-box {
	align-self: center;
}

.new-date {
	text-align: center;
	padding: 10px;
}

.calendar-button {
	border-radius: 50px;
	border: 1px solid #ED5752;
	padding: 0 4px;
}

.welcome-message {
	text-align: center;
	padding-top: 50px;
}

.calendar-button:hover,
.delete-box:hover {
	cursor: pointer;
}
